<ion-view style="" id="page4" title="Competences">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <button class="button button-positive  button-block" id="competences-button4">B</button>
            <a class="button button-positive  button-block" id="competences-button1" href="tel:">+0</a>
            <button class="button button-positive  button-block" id="competences-button2">+1</button>
            <button class="button button-positive  button-block" id="competences-button3">+3</button>
        </div>
        <ion-list style="">
            <ion-item style="">Item 1</ion-item>
            <ion-item style="">Item 2</ion-item>
            <ion-item style="">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>