<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="Talents" icon="ion-ios-book" href="#/page1/talents">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Competences" icon="ion-hammer" href="#/page1/competences">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Sortilèges" icon="ion-ios-color-wand" href="#/page1/sortileges">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>